<h2>My Tickets</h2>
<!--<ul class="ticketassociation"> 
    <li *ngFor="let d of data"
        [class.selected]="data === selectedData"
        (click)="onSelect(data)">

    </li>
</ul>-->

<!---->

<table>
    <tr>
        <th>User Id</th>
        <th>Ticket Number</th>
        <th>Ticket Type</th>
        <th>Ticket Value</th>
        <th>Ticket Comment</th>
        <th>Ticket Date</th>
        <th>Ticket Status</th>
    </tr>

    <tr>
        <td><div *ngFor="let d of data">{{d.user_id}}</div></td>
        <td><div *ngFor="let d of data">{{d.ticketnumber}}</div></td>
        <td><div *ngFor="let d of data">{{d.tickettype}}</div></td>
        <td><div *ngFor="let d of data">{{d.ticketvalue}}</div></td>
        <td><div *ngFor="let d of data">{{d.ticketcomments}}</div></td>
        <td><div *ngFor="let d of data">{{d.ticketdate | date}}</div></td>
        <td><div *ngFor="let d of data">{{d.status}}</div></td>
    </tr>
</table>