<h2>My Tickets</h2>
<!--<div><span>User Id: </span>{{ticket.userid}}</div>
<div><span>Ticket Number: </span>{{ticket.ticketnumber}}</div>
<div><span>Type: </span>{{ticket.ticketype}}</div>
<div><span>Value ($): </span>{{ticket.ticketvalue}}</div>
<div><span>Comments: </span>{{ticket.ticketcomment}}</div>
<div><span>Date: </span>{{ticket.ticketdate}}</div>
<div><span>Status: </span>{{ticket.ticketstatus}}</div>-->

<table>
    <tr>
        <th>User Id</th>
        <br>
        <th>Ticket Number</th>
        <th>Ticket Type</th>
        <th>Ticket Value</th>
        <th>Ticket Comment</th>
        <th>Ticket Date</th>
        <th>Ticket Status</th>
    </tr>

    <tr *ngFor="let mydata of data[0]">
        <td>{{mydata.userid}}</td>
        <td>{{mydata.ticketnumber}}</td>
        <td>{{mydata.ticketype}}</td>
        <td>{{mydata.ticketvalue}}</td>
        <td>{{mydata.ticketcomment}}</td>
        <td>{{mydata.ticketdate}}</td>
        <td>{{mydata.ticketstatus}}</td>
    </tr>
</table>