
#loginPage{
  background-color: #023047;
  margin: 4em;
  align-content: center;
  /*text-align: center;*/
  padding: 2em 10em;

}

.loginForm{
  align-content: center;
  background-color: #023047;
  margin: 2em 10em;
  padding: 2em;
  text-align: center;
  border: 2px solid #219EBC;
}

button{
  background-color: #8ECAE6;
  color: #023047;
  font-size: large;
}

.PageName, h1{
  color: #8ECAE6;
}

.PageName, label{
  color: #219EBC;
}

